#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)


Matches- <a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


Deliveries- <a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import pandas as pd
delivery = pd.read_csv("deliveries.csv")
matches = pd.read_csv('matches.csv')

In [0]:
#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.  [Dificult-]

In [0]:
wickets = delivery[~delivery['player_dismissed'].isnull()] # Rows where wickets taken
top_bowlers = wickets.groupby('bowler')['player_dismissed'].count().sort_values(ascending = False).index[0:10].tolist() # Top 10 Bowlers
wickets[wickets['bowler'].isin(top_bowlers)].pivot_table(index = "bowler", columns = "over", values = "player_dismissed", aggfunc = "count") # Pivot Table

over,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
bowler,,,,,,,,,,,,,,,,,,,,
A Mishra,1.0,NaN,NaN,4.0,1.0,NaN,16.0,11.0,20.0,11.0,14.0,13.0,10.0,16.0,7.0,15.0,8.0,7.0,5.0,6.0
B Kumar,19.0,7.0,13.0,4.0,4.0,4.0,NaN,3.0,NaN,1.0,1.0,1.0,1.0,1.0,2.0,12.0,8.0,16.0,20.0,24.0
DJ Bravo,NaN,1.0,2.0,3.0,1.0,6.0,7.0,5.0,6.0,2.0,4.0,8.0,7.0,9.0,5.0,14.0,9.0,29.0,14.0,36.0
Harbhajan Singh,5.0,6.0,1.0,7.0,4.0,9.0,14.0,14.0,9.0,13.0,14.0,13.0,6.0,13.0,5.0,8.0,9.0,6.0,4.0,1.0
PP Chawla,NaN,2.0,1.0,1.0,2.0,10.0,6.0,9.0,12.0,9.0,15.0,9.0,16.0,11.0,14.0,12.0,11.0,7.0,2.0,7.0
R Ashwin,7.0,1.0,5.0,6.0,10.0,8.0,2.0,9.0,7.0,6.0,10.0,11.0,8.0,8.0,8.0,15.0,5.0,9.0,1.0,2.0
R Vinay Kumar,2.0,6.0,4.0,10.0,5.0,6.0,3.0,1.0,3.0,3.0,7.0,4.0,2.0,3.0,6.0,4.0,8.0,10.0,11.0,29.0
SL Malinga,12.0,12.0,2.0,3.0,5.0,6.0,1.0,NaN,1.0,2.0,1.0,4.0,9.0,3.0,5.0,18.0,14.0,29.0,36.0,25.0
SP Narine,NaN,2.0,2.0,3.0,10.0,8.0,NaN,3.0,4.0,3.0,10.0,5.0,5.0,9.0,8.0,9.0,12.0,14.0,15.0,15.0
UT Yadav,6.0,8.0,7.0,13.0,5.0,7.0,2.0,4.0,4.0,2.0,3.0,3.0,3.0,5.0,2.0,9.0,8.0,11.0,12.0,22.0

In [0]:
# Q2.- Make a function for batting profile of any batsman:-                                              [Medium+]

Ex- 

V Kohli:

Innings:  

Total Runs: 

No. of MOM(Man of the match):

No. of boundries:

In [0]:
def player_profile(player):
    print("Player profile for",player,":")
    profile=delivery.groupby("batsman")
    print("Innings played=",len(profile.get_group(player)["match_id"].unique()))
    print("Total runs scored=",profile.get_group(player)["total_runs"].sum())
    print("Number of Man Of the Matches awarded=",(matches["player_of_match"]==player).sum())
    print("Total number of boundaries=",(profile.get_group(player)["batsman_runs"]>3).sum())
player_profile("V Kohli")

Player profile for V Kohli :
Innings played= 169
Total runs scored= 5616
Number of Man Of the Matches awarded= 11
Total number of boundaries= 673

In [0]:
# Q3.- Write a function to return top-4 batsman at a venue. Take venue as input

In [0]:
def topBatsmanAtVenue(venue) :
    new = delivery.merge(matches, left_on = 'match_id', right_on = 'id')
    mask = new['venue'] == venue
    print(new[mask].groupby('batsman')['batsman_runs'].sum().sort_values(ascending = False).index[0:4])
topBatsmanAtVenue("Eden Gardens")

Index(['G Gambhir', 'RV Uthappa', 'YK Pathan', 'MK Pandey'], dtype='object', name='batsman')

In [0]:
# Q4.- No. of matches per season played in Mumbai.

In [0]:
matches[matches['city'] == "Mumbai"].groupby('season')['id'].count()

season
2008    10
2010    13
2011    16
2012     8
2013     8
2014     7
2015    11
2016     4
2017     8
Name: id, dtype: int64

In [0]:
# Q5. - Top-3 Player in terms of most no. of catches.

In [0]:
delivery[delivery['dismissal_kind'] == "caught"].groupby('fielder')['fielder'].count().sort_values(ascending = False).head(3)

fielder
KD Karthik    109
SK Raina       99
MS Dhoni       98
Name: fielder, dtype: int64