# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import pandas as pd
matches = pd.read_csv("matches.csv")
delivery = pd.read_csv("deliveries.csv")

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [0]:
d1 = matches.drop_duplicates(subset = ['season'], keep = "first") # 1st match of season
d1['city'].value_counts().head(1) # Number of matches in each city

Chennai    3
Name: city, dtype: int64

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [0]:
mask = delivery['bowler'] == "SL Malinga" # Bowler is malinga mask
delivery[mask].groupby('batsman')['batsman_runs'].sum().sort_values(ascending = False).head(3)

batsman
SR Watson         127
AB de Villiers    125
MS Dhoni           89
Name: batsman_runs, dtype: int64

## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [0]:
def top(team) :
    data = delivery[delivery['batting_team'] == team] # Opponent is team
    data2 = data[~(data['player_dismissed'].isnull())] # Where wicket taken
    print(data2.groupby('bowler').size().sort_values(ascending = False).head(1)) # Grouping according to bowler

top("Mumbai Indians")

bowler
DJ Bravo    31
dtype: int64

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [0]:
def record(team) :
    d = matches.drop_duplicates('season', keep = "last") # Last Match = Final Match
    mask1 = (d['team1']  == team) | (d['team2'] == team) # Number of times in finals
    mask2 = d['winner'] == team # Number of times won finals
    print("Played:", d[mask1].shape[0])
    print("Won:", d[mask2].shape[0])
    
record("Chennai Super Kings")

Played: 8
Won: 3

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [0]:
def bat(batsman) :
    print(delivery[delivery['batsman'] == batsman].groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending = False))
bat('MS Dhoni')

bowling_team
Royal Challengers Bangalore    808
Mumbai Indians                 669
Kings XI Punjab                601
Delhi Daredevils               488
Kolkata Knight Riders          474
Rajasthan Royals               428
Sunrisers Hyderabad            398
Deccan Chargers                281
Pune Warriors                  135
Delhi Capitals                  89
Gujarat Lions                   83
Kochi Tuskers Kerala            23
Name: batsman_runs, dtype: int64